{% extends "base.html" %}
{% block content %}

<h2>All Books in the System</h2>

<table border="1" cellpadding="5">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Genre</th>
        <th>Edition</th>
        <th>Year</th>
        <th>Status</th>
    </tr>
    {% for book in books %}
    <tr>
        <td><a href="/book/{{ book.BookID }}?from=viewbooks">{{ book.Title }}</a></td>
        <td>{{ book.Author }}</td>
        <td>{{ book.ISBN }}</td>
        <td>{{ book.Genre }}</td>
        <td>{{ book.EditionNumber }}</td>
        <td>{{ book.PublishYear }}</td>
        <td>{{ book.Status }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
